#home-container {
  padding: 72px 48px 72px 48px;
}

#avatar-container{
  padding: 24px 0px;
}

#home-title {
  padding-bottom: 12px;
  text-align: center;
}

.contact-image {
  width: 20px;
  height: 20px;
}