#home-container {
  padding: 72px 48px 72px 48px;
  background: linear-gradient(180deg, #2b8b0fbf, #252525);
}

#avatar-container{
  padding: 24px 0px;
}

.contact-image {
  width: 20px;
  height: 20px;
}