.project-container {
  padding-bottom: 24px;
}

.project-title-container {
  padding-bottom: 8px;
}

.project-card-container {
  padding-right: 16px;
}

.project-card {
  width: 100%;
  padding: 12px;
}

.project-links {
  padding-bottom: 24px;
}

.carousel-container {
  padding-left: 8px;
  padding-top: 12px;
}

.project-images-card {
  width: fit-content;
}

.project-images-carousel {
  width: 100%;
  text-align: -webkit-center;
}

.project-image {
  max-height: 380px;
}

.coming-soon {
  text-align: center;
}