.project-container {
  padding-bottom: 24px;
}

.project-card {
  width: fit-content;
}

.project-images-carousel {
  width: 100%;
  text-align: -webkit-center;
}

.project-image {
  max-height: 380px;
}