@import "./variables.scss";

#root {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

#app-wrapper {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  backface-visibility: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

#app-main {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  max-width: 100%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

#large-content-container {
  width: calc(100% - 200px);
}

#small-content-container {
  width: 100%;
}

.section-container {
  padding: 36px 48px 24px 48px;

  &.light-to-dark {
    background: linear-gradient(180deg, #252525, #121212);
  }

  &.dark-to-light {
    background: linear-gradient(180deg, #121212, #252525);
  }
}

.section-title-container {
  padding-left: 24px;
}

.section-title-divider-container {
  padding: 8px 0px 8px 0px;
}

.section-title-divider {
  width: 100%;
  background-color: $primary-color;
}

.section-content-container {
  padding: 24px;
}

.website-link {
  text-decoration: none;
  color: $primary-color;
}

.link-buttons-row {
  padding: 12px 0px;
}

.link-button {
  width: 40px;
  height: 40px;
  margin-right: 12px !important;
}